#status {
    display: flex;
    justify-content: center;
}

.center {
    display: flex;
    justify-content: center;
}

.right {
    display: flex;
    justify-content: flex-end;
}

footer {
    position: relative;
}

.master-control-panel {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.master-control-panel>p {
    position: relative;
    z-index: 1000;
}

.master-control-buttons {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    padding: 16px 16px;
    margin: 4px 2px;
    font-size: 16px;
}

.blink-tobg {
    animation: blinker .5s steps(1,end) infinite;
}

.blink-tobgfast {
    animation: blinker .25s steps(1,end) infinite;
}

.breathe-tobg {
    animation: blinker-calmer 2s ease-in-out infinite;
}

@keyframes blinker {
    50% {
        color: var(--bg-compatible-textcolor);
        opacity: .25;
    }
}

@keyframes blinker-calmer {
    50% {
        color: var(--bg-compatible-textcolor);
        opacity: .75;
    }
}